module.exports = {
  entry: [
    'webpack-dev-server/client?http://0.0.0.0:1337', // WebpackDevServer host and port
    'webpack/hot/only-dev-server', // "only" prevents reload on syntax errors
    './js/app.jsx',
  ],

  output: {
    path: './build',
    libraryTarget: "umd",
    umdNamedDefine: true,
    publicPath,
    filename,
  },

  devServer: {
    inline: true,
    host: '0.0.0.0',
    port: 1337
  },

  devtool: 'source-map',
  module: {
    loaders: [
      { test: require.resolve('jquery'), loader: 'expose?jQuery!expose?$' },
      {
        test: /\.tsx?$/,
        loaders: ["react-hot-loader/webpack", "ts-loader"],
        exclude: /node_modules/,
      },
      {
        test: /\.jsx?$/,
        loaders: ["react-hot-loader/webpack", "babel-loader"],
        exclude: /node_modules/,
      },
      {
        test: /\.(css|scss)$/,
        loader: ExtractTextPlugin.extract([
          "css?sourceMap", 'postcss', "sass?sourceMap"
        ])
      },
      {
        test: /\.json$/,
        loader: 'json-loader'
      },
      {
        test: /\.(woff2?|ttf|svg|eot|jpe?g)$/,
        loader: "file"
      }
    ],
    preLoaders: [
      { test: /\.js$/, loader: "source-map-loader" }
    ]
  },
  resolve: {
    extensions: [
      '',
      '.js',
      '.jsx',
      '.ts',
      '.tsx',
    ],
    modulesDirectories: [
      "node_modules"
    ],
    modules: [path.resolve('./app/bundles'),],
    alias: aliases,
  }
};